{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Profile{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% include 'store/header_with_tailwinds.html' %}
    <!-- {% include 'core/profile_nav.html' %} -->
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer></footer>
    <script src="{% static 'js/profile_tabs.js' %}"></script>
    <script src="{% static 'js/CartFunctions.js' %}"></script>
    <script src="{% static 'js/CartVisual.js' %}"></script>
</body>

</html>